body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f892f3 0%, #2E3192 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 30px;
  color: #fff;
}

.logo img {
  width: 100px;
}

.navbar {
  background-color: #f892f3;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
  padding: 24px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #000000;
}

main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(60vh - 90px);
}

section {
  height: 500px;
  width: 500px;
  background-color: #00000030;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(121, 10, 121);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-container {
  width: 100%;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium';
  border-bottom: 2px solid rgb(0, 0, 0);
}

img.centered-image {
  height: 120px;
  width: 120px;
  border-radius: 90%;
  margin-left: 180px;
  border: 10px solid rgb(0, 5, 8);
}

.bottom-container {
  width: 100%;
}

.line {
  width: 100%;
}

.bar {
  height: 100%;
  width: 2px;
  background-color: #000000;
}

.bio {
  padding: 10px;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    display: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar li {
    float: none;
  }

  .navbar a {
    padding: 12px;
  }

  main {
    margin-top: 60px;
  }

  section {
    width: 90%;
  }

  img.centered-image {
    margin-left: 0;
  }
}

